:root {
    --light-gray : #eeeeee;
    --black-variant : #222831;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    margin: auto;
    width: 50%;
    border-top: 5px dotted var(--black-variant);
}



.navbar-dark .navbar-nav .nav-link {
    color: var(--light-gray);
}

.navbar-dark .navbar-brand {
    color:var(--light-gray);
}

.navbar-dark .navbar-brand:hover {
    color:var(--light-gray);
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--light-gray);
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--light-gray);
    transition: width .5s;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover::after {
    color: var(--light-gray);
    width: 100%;
    /* //transition: width .3s; */
}

.navbar-shadow {
    -webkit-box-shadow: 0 24px -6px #222;
    -moz-box-shadow: 0 24px -6px #222;
    box-shadow: 0 4px 24px -6px #222;
    padding-top: 20px;
    padding-bottom: 20px;

    
    /* box-shadow : h-offset(l-r) | v-offset(t-b) | blur | spread */
}

.planet-header-content {
    color: var(--light-gray);
    align-items: center;
    /* background: red; */
    height: 500px;
    font-family: 'Heebo', sans-serif;

}


/* @media screen and (max-width :786px) {
    .navbar-dark .navbar-brand {
      
        
        margin-right: auto;
        margin-left: auto;
    }
    
} */

.planet-detail {
    font-family: 'Ubuntu', sans-serif;
}

.planet-overview {
    background:var(--light-gray);
    padding: 55px;
    
   
}

.planet-indepth {
    padding-top: 50px;
    background-color: #fff;
    color:var(--light-gray);
    /* background: url('./assets/galaxy-bg.jpg'); */
}

.planet-starter-text {
    color: var(--black-variant);
    /* background: red; */
    
}

.left-color-border {
    border-left: 4px solid var(--black-variant);
}




.planet-temp {
    padding-top: 50px;
    color: var(--black-variant);
    /* background: red; */
    padding-bottom: 50px;
}


.planet-size-distance {
    background: var(--black-variant);
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.iframe-responsive {
    /* width: 100%;
    height: 100%; */
}


.planet-more-details {
    /* background: red; */
    padding: 50px;
    color: var(--black-variant);
    background: var(--light-gray);
}

.more-detail-sections{
    margin: 20px
}

.kid-section {
    padding-top: 50px;
    /* background: red; */
}

.planet-kid {
    width: 50%;
}






footer {
    font-family: 'Heebo', sans-serif;
    background: url('/assets/footer_bg.jpg');
    color: var(--light-gray);
    padding-top: 50px;
}


.planet-link {
    color: var(--light-gray);
    text-decoration: none;
}

.planet-link:hover {
    color: var(--light-gray);
    text-decoration: none;
}

.planet-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--light-gray);
    transition: width .5s;
    text-decoration: none;
}



.planet-link:hover::after{
    width: 50%;
}


footer p {
    color: var(--light-gray);
}


.created-by {
    /* background: red; */
    margin-top: 300px;
    /* height: 400px; */
}

.created-by p {
    margin-bottom: 0px;
}




@media screen and (max-width :786px) {
    .planet-header-content {
        text-align: center;
    }

    .planet-size-distance-text{
        margin-top: 20px;
    }

    .kid-friendly-text{
        /* background: red; */
        margin-top: 20px;
        /* margin-bottom: 20px; */
    }

    .kid-section {
        margin-bottom: 40px;
    }

    /* .mercury-content h1 {
        text-align: center;
    } */
}