:root {
    --light-gray : #eeeeee;
    --black-variant : #222831;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    margin: auto;
    width: 50%;
    border-top: 5px dotted var(--black-variant);
}

.mercury-hero {
     /* Location of the image */
    background: url('./assets/featured_mercury.jpg') ;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

      /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
    
    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;
    
    /* width is set to 100% */
    width: 100%;
    height: 600px;
    
    object-fit: contain;
    /* height: auto; */
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--light-gray);
}

.navbar-dark .navbar-brand {
    color:var(--light-gray);
}

.navbar-dark .navbar-brand:hover {
    color:var(--light-gray);
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--light-gray);
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--light-gray);
    transition: width .5s;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover::after {
    color: var(--light-gray);
    width: 100%;
    /* //transition: width .3s; */
}

.bg-nav {
    background: #61434A ;
}

.mercury-content {
    color: var(--light-gray);
    align-items: center;
    /* background: red; */
    height: 500px;
    font-family: 'Heebo', sans-serif;

}


/* @media screen and (max-width :786px) {
    .navbar-dark .navbar-brand {
      
        
        margin-right: auto;
        margin-left: auto;
    }
    
} */

.mercury-detail {
    font-family: 'Ubuntu', sans-serif;
}

.mercury-overview {
    background:var(--light-gray);
    padding: 55px;
    
   
}

.mercury-indepth {
    padding-top: 50px;
    background-color: #fff;
    color:var(--light-gray);
    /* background: url('./assets/galaxy-bg.jpg'); */
}

.mercury-starter-text {
    color: var(--black-variant);
    
}

.left-color-border {
    border-left: 4px solid var(--black-variant);
}


.mercury-parallax {
    color: var(--light-gray);
      /* The image used */
  background-image: url("./assets/mercury-indepth.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mercury-temp {
    padding-top: 50px;
    color: var(--black-variant);
    /* background: red; */
    padding-bottom: 50px;
}


.mercury-size-distance {
    background: var(--black-variant);
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.iframe-responsive {
    /* width: 100%;
    height: 100%; */
}


.mercury-more-details {
    /* background: red; */
    padding: 50px;
    color: var(--black-variant);
    background: var(--light-gray);
}

.more-detail-sections{
    margin: 20px
}

.kid-section {
    padding-top: 50px;
    /* background: red; */
}

.mercury-kid {
    width: 50%;
}




footer {
    font-family: 'Heebo', sans-serif;
    background: url('/assets/footer_bg.jpg');
    color: var(--light-gray);
    padding-top: 50px;
}


.planet-link {
    color: var(--light-gray);
    text-decoration: none;
}

.planet-link:hover {
    color: var(--light-gray);
    text-decoration: none;
}

.planet-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--light-gray);
    transition: width .5s;
    text-decoration: none;
}



.planet-link:hover::after{
    width: 50%;
}


footer p {
    color: var(--light-gray);
}


.created-by {
    /* background: red; */
    margin-top: 300px;
    /* height: 400px; */
}

.created-by p {
    margin-bottom: 0px;
}




@media screen and (max-width :786px) {
    .mercury-content {
        text-align: center;
    }

    /* .mercury-content h1 {
        text-align: center;
    } */
}